<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMERCAT - Inicio</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <div class="image-container" aling="center">
        <img src="static/img/gamercat.jpg" alt="GAMERCAT" width="800"><br><br>
    </div>

    <h1>GAMERCAT</h1>
    <main>
        <section>
            <h2>Descripción</h2>
            <p>Bienvenidos a GAMERCAT, su café internet con librería.</p>
        </section>
        <section>
            <h2>Testimonios de Clientes</h2>
            <p>¡El mejor lugar para disfrutar y aprender!</p>
        </section>
        <section>
            <h2>Ventajas de nuestro Servicio</h2>
            <p>Conectividad, comodidad y una amplia selección de libros.</p>
        </section>
        <section>
            <h2>Contáctenos</h2>
            <p>Síguenos en nuestras redes sociales:</p>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </section>
    </main>
</body>
</html>
