<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DULCE_MIAU - Inicio</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <div class="image-container" aling="center">
        <img src="static/img/logo.png" alt="DULCE_MIAU" width="700"><br><br>
    </div>

    <h1>DULCE MIAU</h1>
    <main>
        <section>
            <h2>Descripción</h2>
            <p>En Dulce Miau ofrecemos un espacio acogedor donde los amantes de los gatos y del 
                buen café pueden disfrutar de la mejor experiencia. Disfruta de nuestros productos 
                mientras compartes con nuestros adorables gatitos.</p>
        </section>
        <section>
            <h2>Testimonios de Clientes</h2>
            <p>¡Lo mejor de ambos mundos: café increíble y compañía gatuna.!</p>
        </section>
        <section>
            <h2>Ventajas de nuestro Servicio</h2>
            <p>Dulce Miau ofrece un ambiente acogedor donde los amantes del café y los gatos pueden
                 disfrutar de una experiencia única, contribuyendo al bienestar animal. Cada visita ayuda 
                 a financiar el rescate y cuidado de gatitos en busca de un hogar, mientras que 
                nuestros eventos temáticos y la oportunidad de adopción crean un sentido de comunidad y 
                amor por los felinos. ¡Ven y disfruta de un delicioso café rodeado de adorables gatitos!</p>
        </section>
        <section>
            <h2>Contáctenos </h2>
            <p>Síguenos en nuestras redes sociales:</p>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </section>
    </main>
</body>
</html>
