<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DULCE_MIAU - Noticias</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>NOTICIAS</h1>
        <section>
            <h2>NUEVO RESCATE DE GATITOS EN DULCE MIAU</h2>
            <img src="static/img/gatito1.png" alt="RescaTe de gatitos">
            <p>El fin de semana pasado rescatamos a tres nuevos gatitos que pronto estarán disponibles para adopción</p>
        </section>
        <section>
            <h2>TALLER DE ARTE CON GATITOS</h2>
            <img src="static/img/taza.png" alt="Taza de gatitos">
            <p>Participa en los talleres y aprende a hacer tu propia taza, ademas ayudaras a muchos gatitos.</p>
        </section>
    </main>
</body>
</html>
