<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DULCE_MIAU - Quiénes Somos</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Quiénes Somos</h1>
        <h2>Historia de empresa</h2>
        <p>Dulce Miau comenzó con la idea de crear un lugar
             donde los amantes de los gatos pudieran relajarse mientras disfrutan de un buen café. 
             Desde el 2024, hemos sido un refugio para personas y gatitos por igual.</p>
        <h2>Misión</h2>
        <p>"Ofrecer un espacio acogedor donde se pueda disfrutar de deliciosos cafés y ayudar a gatitos rescatados a encontrar su hogar definitivo.</p>
        <h2>Visión</h2>
        <p>Ser un referente en la creación de espacios donde la conexión entre humanos y animales mejore la calidad de vida.</p>
        <h2>EQUIPO DE TRABAJO</h2>

        <div>
            <h3>Ana – Barista Amante de los gatos</h3>
            <img src="static/img/equipo1k.png" alt="Equipo 1" width="400"> <br><br>
            <h3>Carlos – Cuidado de Gatitos</h3>
            <img src="static/img/equipo2k.png" alt="Equipo 2 "  width="400">
        </div>
    </main>
</body>
</html>
