<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DULCE_MIAU - Salida</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <h1>Gracias por su mensaje!!!</h1>
    <p>Nombre: {{ nombre }}</p>
    <p>Email: {{ email }}</p>
    <p>Mensaje: {{ mensaje }}</p>
    <a href="/">Volver a Inicio</a>
</body>
</html>
