<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DULCE_MIAU - Servicios</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Servicios</h1>
        <section>
            <h2>CAFE CON GATITOS TIERNOS</h2>
            <img src="static/img/cafe1.png" alt="Cafe con gatitos"width="500" height="400">
            <p>Disfruta de nuestras bebidas artesanales mientras te relajas con nuestros adorables felinos. Cada visita contribuye al cuidado de gatitos rescatados.</p>
        </section>
        <section>
            <h2>EVENTOS TEMATICOS</h2>
            <img src="static/img/cafe2.png" alt="Eventos tematicos"width="400">
            <p>Organiza fiestas de cumpleaños, reuniones o simplemente una tarde especial en Dulce Miau, con gatitos como parte de la experiencia.</p>
        </section>
        <section>
            <h2>ADOPCION DE GATITOS</h2>
            <img src="static/img/cafe3.png" alt="Adopcion de gatitos"width="400">
            <p>¿Te enamoraste de uno de nuestros gatitos? ¡Puedes adoptarlo y darle un hogar definitivo!</p>
        </section>
    </main>
</body>
</html>
